html {
	font-family: 'Lora', serif;
	background-color: #ffd;
}
p,ul,ol {
  color: #0066FF;
  background-color:#E9E9E8;
  /*width: 500px;*/
  border: 2px solid black;
}
#head1 {
	margin: 5 px 0 px 0 px 0 px;
  	padding: 5px 5px 5px 5px;
	width: 780px;    
  	color: #F;/*text color*/
	background-color: #9ff;
	border: 5px solid black;
    text-align:center;
    text-shadow: 3px 3px 1px gray;
}
img {
  display: block;
  margin: 10 auto;
  
  width: 790px;
  height:300px;
  border: 5px solid red;
}
/* unvisited link */
a:link {
    /*color: #FF0000;*/
	font-size: 150%;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #00F;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
	text-decoration: none;
}

/* selected link */
a:active {
    color: #0000FF;
	text-decoration: none;
}
p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 800px;/*note that default alignment is center*/
  margin: 0 auto;
  background-color: #ff9;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
iframe, div {
	border:2px solid #ddd;
	width:800px;
	height:650px;
	align:center;
}
button {
	align:center;
	background-color:#f9f;
}